<h1 class="page-header text-center">Future Weather Analysis</h1>
<div class="row placeholders" id="js-analysis-success" >
    <div class="panel panel-default">
        <div class="panel-body weather-chart" id="js-anay-temp"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body weather-chart" id="js-anay-rain"></div>
    </div>
    <div class="panel panel-default">
        <div class="panel-body weather-chart" id="js-anay-wind"></div>
    </div>
</div>

<div class="row placeholders text-center" id="js-analysis-fail" >
    <div class="alert alert-warning" role="alert">
        <h3><i class="fa fa-spinner fa-spin"></i> <b> Oops!</b> Abnormal connection, reloading page...</h3>
    </div>
</div>
