<h1 class="page-header" style="text-align:center;">A Week Weather of Future</h1>
<div class="row placeholders" id="js-week-success" style="display:none;">
    <div class="col-xs-6 col-sm-2 placeholder col-sm-offset-1 weather-box -active" id="js-forecast-day-1">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-2">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-3">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-4">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder weather-box" id="js-forecast-day-5">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>
</div>

<div class="row placeholders text-center" id="js-week-fail" >
    <div class="alert alert-warning" role="alert">
        <h3><i class="fa fa-spinner fa-spin"></i> <b> Oops!</b>  Abnormal connection, reloading page ...</h3>
    </div>
</div>
