<h2 class="sub-header">Time Interval Weather</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Time</th>
                <th>Temp(c)</th>
                <th>Temp_Min(c)</th>
                <th>Temp_Max(c)</th>
                <th>Humidity(%)</th>
                <th>Pressure(hPa)</th>
                <th>Weather</th>
                <th>Clouds(%)</th>
                <th>Wind(m/s)</th>
                <th>Rain(mm)</th>
            </tr>
        </thead>
        <tbody id="js-weather-detail-table">
            <tr>
                <td colspan="10" align="center">There is no data to display.</td>
            </tr>
        </tbody>
    </table>
</div>
