<h1 class="page-header" style="text-align:center;">A Weak Weather of Future</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-2 placeholder col-sm-offset-1" id="js-forecast-day-1">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder" id="js-forecast-day-2">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder" id="js-forecast-day-3">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder" id="js-forecast-day-4">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>

    <div class="col-xs-6 col-sm-2 placeholder" id="js-forecast-day-5">
        <div class="weather-pic"></div>
        <h4 class="weather-date"></h4>
        <span class="text-muted weather-state"></span><br>
        <span class="text-muted weather-state-desc"></span>
    </div>
</div>
